.col {
    padding-left: 10px !important;;
    padding-right: 10px !important;
}
.custom-box {
    border: solid #6DBDD6;
    border-width: 3px;
    background: #fff;
}

.custom-medium-box {
    height: 219px;
}

.custom-small-box {
    height: 107px;
    margin-top: 11px !important;
}

.company-box-link {
    cursor: pointer;
}

.company-box-link img {
    transition: all .2s ease-in-out;
}

.company-box-link:hover img {
    transform: scale(1.05);
}

.service-box-link {
    cursor: pointer;
}

.service-box-link img {
    transition: all .2s ease-in-out;
}

.service-box-link:hover img {
    transform: scale(1.05);
}