.col {
    padding-left: 10px !important;;
    padding-right: 10px !important;
}
.custom-box {
    border: solid #dfdfdd;
    border-width: 0 1px 1px 0;
    background: #fff;
    padding: 3px;
}

.custom-medium-box {
    height: 219px;
}

.custom-small-box {
    height: 97px;
    margin-top: 11px !important;
}

.company-box-link {
    cursor: pointer;
}

.company-box-link img {
    transition: all .2s ease-in-out;
    opacity: 0.8;
}

.company-box-link:hover img {
    opacity: 1;
}

.service-box-link {
    cursor: pointer;
}

.service-box-link img.service {
    transition: all .2s ease-in-out;
    opacity: 0.8;
}

.service-box-link .carousel-caption {
    display: none;
}

.service-box-link:hover img.service {
    opacity: 1;
}

.service-box-link:hover .carousel-caption {
    display: block;
}

#digitalClock strong{
    font-size: 15px;
}