<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ static_url('images/logo.png') }}" type="image/x-icon">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>پنل مدیریت نگاه خبری</title>
    <link type="text/css" rel="stylesheet" href="{{ static_url('admin/css/styles.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/common.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/fonts.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/pagination.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static_url('admin/plugins/bootstrap/dist/css/bootstrap.min.css') }}">
    <link href="{{ static_url('admin/plugins/metisMenu/metisMenu.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('admin/plugins/timeline.css') }}" rel="stylesheet">
    <link href="{{ static_url('admin/css/sb-admin-2.css') }}" rel="stylesheet">
    <link href="{{ static_url('admin/plugins/morris.css') }}" rel="stylesheet">
    <link href="{{ static_url('admin/plugins/fontawesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url('plugins/select2/dist/css/select2.min.css') }}" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="{{ static_url('plugins/custom-alert/custom_alert.css') }}">

    <style>
        .select{
            width: 100%;
        }
        .select2-arrow b {
            background-position: -4px -2px !important;
        }
    </style>

{% block other_css %}
{% end block other_css %}
</head>

<body>

<div id="wrapper">

    <nav class="navbar navbar-default navbar-static-top font-yekan" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">پنل مدیریت</a>
        </div>

        <ul class="nav navbar-top-links navbar-right pull-left">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href=""><i class="fa fa-gear fa-fw"></i> تنظیمات</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ reverse_url('admin:logout') }}"><i class="fa fa-sign-out fa-fw"></i> خروج</a>
                    </li>
                </ul>
            </li>
        </ul>


    </nav>
    {% module AdminSidebar() %}


    {% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header font-yekan">داشبورد</h1>
            </div>
        </div>
    </div>
    {% end block container %}

</div>
<script src="{{ static_url('plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ static_url('js/sb-admin-2.js') }}"></script>
<script src="{{ static_url('plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('admin/plugins/metisMenu/metisMenu.min.js') }}"></script>
<script src="{{ static_url('plugins/select2/dist/js/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('plugins/custom-alert/custom_alert.js') }}"></script>
<script type="text/javascript" src="{{ static_url('plugins/custom-confirm/custom_confirm.js') }}"></script>

<script>
    $('.select').select2({
        placeholder: "انتخاب کنید",
        dir: "rtl",
        theme: "classic"
    });
</script>
{% block other_scripts %}
{% end block other_scripts %}
</body>

</html>
