{% extends base.html %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>ایجاد و مدیریت خدمات</span> </div>
                    <div class="panel-body">
                        <div class="show_box">
                            <div class="box_header">
                                <span>فهرست  سفارشات</span>
                            </div>
                            <div class="box_body unit-div pr_drag">
                                <table class="table table-bordered source_news_table agency-table">
                                    <tr>
                                        <td>نام</td>
                                        <td>خدمت</td>
                                        <td>تعداد</td>
                                        <td>شماره تماس</td>
                                        <td>امکانات</td>
                                    </tr>
                                    {% set __a = False %}
                                    {% for order in orders  %}
                                        {% set __a = True %}
                                        <tr class="order-row">
                                            <td>{{ order['name'] }}</td>
                                            <td>{{ order['service_name'] }}</td>
                                            <td>{{ order['count'] }}</td>
                                            <td>{{ order['phone'] }}</td>
                                            <td>
                                                <span class="show-order" data-order="{{ order['_id'] }}">
                                                    <i class="fa fa-eye" style="color: #00a0dc"></i>
                                                </span>
                                                <span class="delete-order" data-order="{{ order['_id'] }}">
                                                    <i class="fa fa-trash-o"></i>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr class="detail-order-row" data-order="{{ order['_id'] }}" style="display: none">
                                            <td colspan="5" style="padding: 10px">
                                                <div>
                                                    <sapn>آدرس : </sapn> <span style="margin-right: 10px">{{ order['address'] }}</span>
                                                </div>
                                                <div style="margin-top: 10px">
                                                    <sapn>توضیحات : </sapn> <span style="margin-right: 10px">{{ order['description'] }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                    {% end %}
                                    {% if not __a %}
                                        <tr class="empty">
                                            <td colspan="5">موردی وجود ندارد.</td>
                                        </tr>
                                    {% end %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% end block container %}

{% block other_scripts %}
<script type="text/javascript" src="{{ static_url('plugins/jquery-ui/jquery-ui.js') }}"></script>
<script>

    var trash = '<i class="fa fa-trash-o"></i>';

    var loader = '<img src="{{ static_url('images/loading.gif') }}" width="20" height="20">';


    var __b = true;
    $(document).on('click', '.delete-order', function(e){
        if(__b){
            __b = false;
            Confirm.render(0, 0, 0, 0, 0, function(){
                var elm = $(e.target).closest('.delete-order');
                var order = elm.attr('data-order');
                elm.html(loader.replace(/20/g, '15'));
                var postData = [
                    {name: 'order', value: order},
                    {name: '_xsrf', value: '{{ handler.xsrf_token }}'},
                    {name: 'action', value: 'delete'}
                ];
                jQuery.ajax(
                    {
                        url: '',
                        type: "delete",
                        data: postData,
                        success: function (response) {
                            var status = response['status'];
                            var value = response['value'];
                            var messages = response['messages'];
                            if (status) {
                                Alert.render('success', function () {
                                    elm.closest('.order-row').remove();
                                    __b = true;
                                });
                            }else{
                                var error = '';
                                for(var i = 0; i < messages.length ; i++){
                                    error += messages[i] + '<br>';
                                }
                                if(error == '')
                                    error = 'error';
                                Alert.render(error, function(){
                                    elm.html(trash);
                                    __b = true;
                                });
                            }
                        },
                        error: function () {
                            Alert.render('error', function(){
                                elm.html(trash);
                                __b = true;
                            });
                        }
                    });
            }, function(){
                __b = true;
            });
        }
    });
    $(document).on('click', '.show-order', function (e) {
        var elm = $(e.target).closest('.show-order');
        var order = elm.attr('data-order');
        var _show = elm.attr('data-show');
        $('.detail-order-row').slideUp();
        if (_show == "true") {
            $('.detail-order-row[data-order=' + order + ']').slideUp();
            elm.attr('data-show', 'false');
        } else {
            $('.detail-order-row[data-order=' + order + ']').slideDown();
            elm.attr('data-show', 'true');
        }

    });
</script>
{% end block other_scripts %}