{% extends base.html %}

{% block container %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default margin-top-30 font-yekan">
                    <div class="panel-heading"><i class="fa fa-folder-open-o"></i><span>مدیریت جداول</span> </div>
                    <div class="panel-body">
                        <div class="show_box">
                            <div class="box_header">
                                <span>جداول</span>
                                <div class="new_user_btn" id="ShowDivFormAddTable">
                                    <i class="fa fa-plus"></i>افزودن
                                </div>
                                <div class="search_user_btn" data-toggle="modal" href="#search_user_modal">
                                    <i class="fa fa-search"></i>جستجوی پیشرفته
                                </div>
                            </div>
                            <div class="box_body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <table class="table table-bordered source_news_table">
                                            <tr>
                                                <td>نام جدول</td>
                                                <td>وضعیت</td>
                                                <td>پیش نمایش</td>
                                                <td>امکانات</td>
                                            </tr>
                                            {% set __a = False %}
                                            {% for table in tables %}
                                                {% set __a = True %}
                                                <tr>
                                                    <td>{{ table['name'] }}</td>
                                                    <td>{% if table['active'] %}فعال{% else %}غیر فعال{% end %}</td>
                                                    <td><span class="preview-table colorBlue cursor-pointer" data-table="{{ table['_id'] }}">پیش نمایش</span></td>
                                                    <td>
                                                        <span class="edit-table" data-table="{{ table['_id'] }}">
                                                            <i class="fa fa-pencil"></i>
                                                        </span>
                                                        <span class="delete-table" data-table="{{ table['_id'] }}">
                                                            <i class="fa fa-trash-o"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                            {% end %}
                                            {% if not __a %}
                                                <tr>
                                                    <td colspan="4">موردی وجود ندارد.</td>
                                                </tr>
                                            {% end %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="new_table_modal" tabindex="-1" role="basic" aria-hidden="false">
        <div class="modal-dialog" style="font-family: Yekan;width: 75%">
            <div class="modal-content" style="border-radius: 7px !important; margin-top: 100px">
                <div class="show_box">
                    <div class="box_header">
                        <div class="row">
                            <div class="col-xs-11">
                                <span>ساخت جدول</span>
                            </div>
                            <div class="col-xs-1 text-left">
                                <span class="cursor fa fa-times"
                                      style="font-size:12pt;color: #828282;margin-top: 5px;cursor: pointer"
                                      data-dismiss="modal" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div id="DivFormAddTable" class="box_body" style="padding: 50px 10px">
                        <form id="AddTable">
                            {% module xsrf_form_html() %}
                            <input type="hidden" name="method" value="AddTable">
                            <input type="hidden" name="_id" value="">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="col-md-5 col-sm-5">
                                        <span class="form_label">نام جدول</span>
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        <input type="text" name="name" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="col-md-5 col-sm-5">
                                        <span class="form_label">آدرس سایت</span>
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        <input type="text" name="base_link" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="col-md-5 col-sm-5">
                                        <span class="form_label">فعال</span>
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        <input type="checkbox" name="active" value="True">
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-md-12 col-sm-12">
                                    <span class="form_label">تعریف جدول</span>
                                    <hr style="width: 88%; margin-right: 5px; display: inline-block; vertical-align: -20px">
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-md-5 col-sm-5">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <span class="form_label">تعداد سطر</span>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <input type="text" id="row_count" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <span class="form_label">تعداد ستون</span>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <input type="text" id="column_count" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 text-left">
                                    <span class="R_butt_blue make_table" style="vertical-align: -6px">ساخت جدول</span>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-md-12 col-sm-12">
                                    <div id="new_table_container">
                                        <table class="table table-bordered new_table"></table>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-xs-2 pull-left text-left">
                                    <button type="submit" class="btn R_butt_green add-table-btn">افزودن</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="preview_table_modal" tabindex="-1" role="basic" aria-hidden="false">
        <div class="modal-dialog" style="font-family: Yekan;width: 75%">
            <div class="modal-content" style="border-radius: 7px !important; margin-top: 100px">
                <div class="show_box">
                    <div class="box_header">
                        <div class="row">
                            <div class="col-xs-11">
                                <span>پیش نمایش جدول</span>
                            </div>
                            <div class="col-xs-1 text-left">
                                <span class="cursor fa fa-times"
                                      style="font-size:12pt;color: #828282;margin-top: 5px;cursor: pointer"
                                      data-dismiss="modal" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="box_body preview-table-modal" style="padding: 50px 10px">

                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="FormAddTable" style="display: none">
    <form id="AddTable">
        {% module xsrf_form_html() %}
        <input type="hidden" name="method" value="AddTable">
        <input type="hidden" name="_id" value="">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="col-md-5 col-sm-5">
                    <span class="form_label">نام جدول</span>
                </div>
                <div class="col-md-7 col-sm-7">
                    <input type="text" name="name" class="form-control">
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="col-md-5 col-sm-5">
                    <span class="form_label">آدرس سایت</span>
                </div>
                <div class="col-md-7 col-sm-7">
                    <input type="text" name="base_link" class="form-control">
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="col-md-5 col-sm-5">
                    <span class="form_label">فعال</span>
                </div>
                <div class="col-md-7 col-sm-7">
                    <input type="checkbox" name="active" value="True">
                </div>
            </div>
        </div>
        <div class="row margin-top-10">
            <div class="col-md-12 col-sm-12">
                <span class="form_label">تعریف جدول</span>
                <hr style="width: 88%; margin-right: 5px; display: inline-block; vertical-align: -20px">
            </div>
        </div>
        <div class="row margin-top-10">
            <div class="col-md-5 col-sm-5">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <span class="form_label">تعداد سطر</span>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <input type="text" id="row_count" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-5">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <span class="form_label">تعداد ستون</span>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <input type="text" id="column_count" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 text-left">
                <span class="R_butt_blue make_table" style="vertical-align: -6px">ساخت جدول</span>
            </div>
        </div>
        <div class="row margin-top-10">
            <div class="col-md-12 col-sm-12">
                <div id="new_table_container">
                    <table class="table table-bordered base_new_table"></table>
                </div>
            </div>
        </div>
        <div class="row margin-top-10">
            <div class="col-xs-2 pull-left text-left">
                <button type="submit" class="btn R_butt_green add-table-btn">افزودن</button>
            </div>
        </div>
    </form>
</div>
{% end block container %}

{% block other_scripts %}
<script type="text/javascript" src="{{ static_url('plugins/jquery-ui/jquery-ui.js') }}"></script>
<script>

    var trash = '<i class="fa fa-trash-o"></i>';
    var pencil = '<i class="fa fa-pencil"></i>';
    var loader = '<img src="{{ static_url('images/loading.gif') }}" width="20" height="20">';
    $('div#ShowDivFormAddTable').click(function(){
        $("#DivFormAddTable").html($("div#FormAddTable").html().replace('base_new_table', 'new_table'));
        $("#new_table_modal").modal('toggle');
    });
    $(document).on('click', '.make_table', function(){
        var row_count = $('#row_count').val();
        var column_count = $('#column_count').val();
        var i, j;
        var html = '<tr><td></td>';
        for(j = 0; j < column_count; j++) {
            html += '<td><input type="text" placeholder="نام ستون" class="form-control text-center"></td>';
        }
        html += '</tr>';
        for(i = 0; i < row_count; i++){
            html += '<tr><td><input type="text" placeholder="نام سطر" class="form-control text-center"></td>';
            for(j = 0; j < column_count; j++) {
                html += '<td><input type="text" name="address" placeholder="Address" class="form-control text-center margin-top-10"></td>';
            }
            html += '</tr>';
        }
        $('.new_table').html(html);
    });

    $('#AddTable').submit(function(e){
        e.preventDefault();
        var btn =$('.add-table-btn') ;
        btn.html(loader);
        var _first = true;
        var trs = [];
        $.each($('.new_table tr'), function(){
            if(_first){
                var tds = [];
                $.each($(this).find('td input'), function(){
                    tds.push({name: $(this).val()});
                });
                trs.push(tds)
            }else{
                var __first = true;
                var _tr = {name: "", tds: []};
                $.each($(this).find('td'), function(){
                    if(__first){
                        _tr['name'] = $(this).find('input').val();
                    }else{
                        _tr['tds'].push({address: $(this).find('input[name=address]').val()});
                    }
                    __first = false;
                });
                trs.push(_tr);
            }
            _first = false;
        });
        var postData = $("#AddTable").serializeArray();
        postData.push({name: "trs",  value: JSON.stringify(trs)});
        jQuery.ajax(
            {
                url: '',
                type: "post",
                data: postData,
                success: function (response) {
                    var status = response['status'];
                    var value = response['value'];
                    var messages = response['messages'];
                    if (status) {
                        Alert.render('success', function () {
                            location.href = "";
                            btn.html('افزودن');
                        });
                    }else{
                        var error = '';
                        for(var i = 0; i < messages.length ; i++){
                            error += messages[i] + '<br>';
                        }
                        if(error == '')
                            error = 'error';
                        Alert.render(error, function(){
                            btn.html('افزودن');
                        });
                    }
                },
                error: function () {
                    Alert.render('error', function(){
                        btn.html('افزودن');
                    });
                }
            });
    });

    $('.preview-table').click(function(e){
        var btn = $(e.target).closest('.preview-table');
        btn.html(loader);
        var table = btn.attr('data-table');
        var postData = [{name: "table",  value: table}, {name: "method",  value: "PreviewTable"}, {name: '_xsrf', value: '{{ handler.xsrf_token }}'}];
        jQuery.ajax(
            {
                url: '',
                type: "post",
                data: postData,
                success: function (response) {
                    var status = response['status'];
                    var value = response['value'];
                    var messages = response['messages'];
                    if (status) {
                        $('.preview-table-modal').html(value);
                        $('#preview_table_modal').modal('toggle');
                        btn.html('پیش نمایش');
                    }else{
                        var error = '';
                        for(var i = 0; i < messages.length ; i++){
                            error += messages[i] + '<br>';
                        }
                        if(error == '')
                            error = 'error';
                        Alert.render(error, function(){
                            btn.html('پیش نمایش');
                        });
                    }
                },
                error: function () {
                    Alert.render('error', function(){
                        btn.html('پیش نمایش');
                    });
                }
            });
    });

    $(document).on('click', '.delete-table', function(e){
        Confirm.render(0, 0, 0, 0, 0, function(){
            var elm = $(e.target).closest('.delete-table');
            var table = elm.attr('data-table');
            elm.html(loader.replace(/20/g, '15'));
            var postData = [
                {name: 'table', value: table},
                {name: '_xsrf', value: '{{ handler.xsrf_token }}'},
                {name: 'method', value: 'DeleteTable'}
            ];
            jQuery.ajax(
                {
                    url: '',
                    type: "post",
                    data: postData,
                    success: function (response) {
                        var status = response['status'];
                        var value = response['value'];
                        var messages = response['messages'];
                        if (status) {
                            Alert.render('success', function () {
                                elm.closest('tr').remove();
                            });
                        }else{
                            var error = '';
                            for(var i = 0; i < messages.length ; i++){
                                error += messages[i] + '<br>';
                            }
                            if(error == '')
                                error = 'error';
                            Alert.render(error, function(){
                                elm.html(trash);
                            });
                        }
                    },
                    error: function () {
                        Alert.render('error', function(){
                            elm.html(trash);
                        });
                    }
                });
        }, function(){});
    });

    $(document).on('click', '.edit-table', function(e){
        var elm = $(e.target).closest('.edit-table');
        var table = elm.attr('data-table');
        elm.html(loader.replace(/20/g, '15'));
        var postData = [
            {name: 'table', value: table},
            {name: '_xsrf', value: '{{ handler.xsrf_token }}'},
            {name: 'method', value: 'ShowEditTable'}
        ];
        jQuery.ajax(
            {
                url: '',
                type: "post",
                data: postData,
                success: function (response) {
                    var status = response['status'];
                    var value = response['value'];
                    var messages = response['messages'];
                    if (status) {
                        var _form = $("#AddTable");
                        _form.find('input[name=method]').val('EditTable');
                        _form.find('input[name=_id]').val(table);
                        _form.find('input[name=name]').val(value['name']);
                        _form.find('input[name=base_link]').val(value['base_link']);
                        if(value['active'])
                            _form.find('input[name=active]').prop("checked", true);
                        else
                            _form.find('input[name=active]').prop("checked", false);

                        var html = '<tr><td></td>';
                        var x = 0, j = 0;
                        for(x = 0; x < value['trs'][0].length; x++){
                            html += '<td><input type="text" placeholder="نام ستون" class="form-control text-center" value="' + value['trs'][0][x]['name'] + '"></td>';
                        }
                        html += '</tr>';
                        for(x = 1; x < value['trs'].length; x++){
                            var tr = value['trs'][x];
                            html += '<tr><td><input type="text" placeholder="نام سطر" value="' + tr['name'] + '" class="form-control text-center"></td>';
                                for(j = 0; j < tr['tds'].length; j++) {
                                    html += '<td><input type="text" name="address" value="' + tr['tds'][j]['address'] + '" placeholder="Address" class="form-control text-center margin-top-10"></td>';
                                }
                            html += '</tr>';
                        }
                        $('.new_table').html(html);
                        $("#new_table_modal").modal("toggle");
                        elm.html(pencil);
                    }else{
                        var error = '';
                        for(var i = 0; i < messages.length ; i++){
                            error += messages[i] + '<br>';
                        }
                        if(error == '')
                            error = 'error';
                        Alert.render(error, function(){
                            elm.html(pencil);
                        });
                    }
                },
                error: function () {
                    Alert.render('error', function(){
                        elm.html(pencil);
                    });
                }
            });
    });
</script>
{% end block other_scripts %}