<hr style="border-top: 2px solid #000000; margin-top: 16px; margin-bottom: 16px">
<div class="row">
    <div class="col-md-12">
        <span style="font-size: 20px; font-weight: bold">غذایی</span> <i style="font-size: 20px; font-weight: bold; margin-right: 10px" class="fa fa-angle-left"></i>
    </div>
    <div class="col-md-12">
        <div class="row" style="margin-top: 11px; direction: ltr">
            <div id="OWL_FOOD" class="owl-carousel">
{#                        {% module CompaniesBox(FOOD, "P1") %}#}
            </div>
        </div>
    </div>
</div>
<hr style="border-top: 2px solid #000000; margin-top: 16px; margin-bottom: 16px">
<div class="row">
    <div class="col-md-12">
        <span style="font-size: 20px; font-weight: bold">شیمیایی</span> <i style="font-size: 20px; font-weight: bold; margin-right: 10px" class="fa fa-angle-left"></i>
    </div>
    <div class="col-md-12">
        <div class="row" style="margin-top: 11px; direction: ltr">
            <div id="OWL_CHEMICAL" class="owl-carousel">
{#                        {% module CompaniesBox(CHEMICAL, "P2") %}#}
            </div>
        </div>
    </div>
</div>
<hr style="border-top: 2px solid #000000; margin-top: 16px; margin-bottom: 16px">
<div class="row">
    <div class="col-md-12">
        <span style="font-size: 20px; font-weight: bold">فلزی</span> <i style="font-size: 20px; font-weight: bold; margin-right: 10px" class="fa fa-angle-left"></i>
    </div>
    <div class="col-md-12">
        <div class="row" style="margin-top: 11px; direction: ltr">
            <div id="OWL_METAL" class="owl-carousel">
{#                        {% module CompaniesBox(METAL, "P3") %}#}
            </div>
        </div>
    </div>
</div>
<hr style="border-top: 2px solid #000000; margin-top: 16px; margin-bottom: 16px">
<div class="row">
    <div class="col-md-12">
        <span style="font-size: 20px; font-weight: bold">برق و الکترونیک</span> <i style="font-size: 20px; font-weight: bold; margin-right: 10px" class="fa fa-angle-left"></i>
    </div>
    <div class="col-md-12">
        <div class="row" style="margin-top: 11px; direction: ltr">
            <div id="OWL_ELECTRICAL" class="owl-carousel">
{#                        {% module CompaniesBox(ELECTRICAL, "P4") %}#}
            </div>
        </div>
    </div>
</div>
<hr style="border-top: 2px solid #000000; margin-top: 16px; margin-bottom: 16px">
<div class="row">
    <div class="col-md-12">
        <span style="font-size: 20px; font-weight: bold">نساجی و کانی غیر فلزی</span> <i style="font-size: 20px; font-weight: bold; margin-right: 10px" class="fa fa-angle-left"></i>
    </div>
    <div class="col-md-12">
        <div class="row" style="margin-top: 11px; direction: ltr">
            <div id="OWL_TEXTILE_MINERAL" class="owl-carousel">
{#                        {% module CompaniesBox(TEXTILE + MINERAL, "P5") %}#}
            </div>
        </div>
    </div>
</div>