.menu-font {
    font-family: Roya;
    font-size: 16pt;
}

.text-font {
    font-family: Yekan;
    font-size: 16pt;
}

.titr-list-show-font {
    font-family: Yekan;
    font-size: 19pt;
}

.titr-detail-show-font {
    font-family: Yekan;
    font-size: 12pt;
}

.print-titr-news-font {
    font-family: Yekan;
    font-size: 20pt;
}

.print-abstract-news-font {
    font-family: Yekan;
    font-size: 16pt;
}

.print-text-news-font {
    font-family: Yekan;
    font-size: 12pt;
}