<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Companies</title>

    <!-- Bootstrap Core CSS -->
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/bootstrap-rtl.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/bootstrap-theme.css') }}') }}">
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/fonts.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static_url('plugins/fontawesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('plugins/owl-carousel/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ static_url('plugins/owl-carousel/owl-carousel/owl.theme.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/footer.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/index.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/navbar.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/slide_show.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static_url('plugins/fontawesome/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ static_url('plugins/mini-colors/jquery.minicolors.css') }}">

</head>

<body id="BODY_SECTION" style="background-color: #F4F4F4; font-family: Yekan; direction: rtl; background-image: url('{{ static_url('images/background.png') }}');background-size: 150px auto; ">
    <div style="position: fixed; top: 264px; right: 10px;z-index: 10; width: 800px">
        <div class="col-md-3">
            <input type="text" class="custom-color form-control" value="7D1935" id="CHANGE_INFO_SECTION">
        </div>
        <div class="col-md-3">
            <input type="text" class="custom-color form-control" value="757575" id="CHANGE_NAV_SECTION">
        </div>
        <div class="col-md-3">
            <input type="text" class="custom-color form-control" value="F4F4F4" id="CHANGE_BODY_SECTION">
        </div>
    </div>
    {% module Info() %}
    {% module NavBar() %}
    <div class="col-md-12" style="padding: 0px 30px 30px 30px;">
        <div class="row">
            <div class="col col-md-6 col-sm-8 col-xs-12">
                {% module SlideShow() %}
            </div>
            <div class="col-md-6 col-sm-4 visible-sm visible-md visible-lg" style="padding-left: 15px; padding-right: 15px">
                <div class="row">
                    <div class="col col-md-6">
                        {% try %}
                            {% module CompaniesMediumBox(company=main_page['boxes'][0]) %}
                        {% except %}
                        {% end %}
                    </div>
                    <div class="col col-md-6 visible-md visible-lg">
                        {% try %}
                            {% module CompaniesMediumBox(company=main_page['boxes'][1]) %}
                        {% except %}
                        {% end %}
{#                        <div class="custom-box">#}
{#                            <div class="box-medium">#}
{#                                <div id="canvasClock">#}
{#                                    <div style="text-align: center; font-size: 19px; margin-top: 0; direction: rtl;;"></div>#}
{#                                    <canvas class="canvas center-block" id="analogClock" width="240" height="240" style="max-width: 100%; margin-top: -25px;"></canvas>#}
{#                                    <div class="row text-center" style="margin-top: -23px;">#}
{#                                        <div class="col col-md-7">{{ __now_name }}</div>#}
{#                                        <div class="col col-md-5" id="digitalClock">00:00:00 AM</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-6">
                        {% try %}
                            {% module CompaniesSmallBox(company=main_page['boxes'][2]) %}
                        {% except %}
                        {% end %}
                    </div>
                    <div class="col col-md-6 visible-md visible-lg">
                        {% try %}
                            {% module CompaniesSmallBox(company=main_page['boxes'][3]) %}
                        {% except %}
                        {% end %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="direction: ltr">
            <div id="OWL_RANDOM" class="owl-carousel">
                {% module CompaniesSmallBoxRow(main_page['boxes'][4:]) %}
            </div>
        </div>

        {% for i in main_page['unit_sections'] %}
            {% module UnitSectionBoxes(unit_name=i['unit_name'], unit_id=i['unit_id'], _format=i['format'], companies=i['companies']) %}
        {% end %}

        <hr style="border-top: 2px solid #000000; margin-top: 16px; margin-bottom: 16px">
        <div class="row">
            <div class="col-md-12">
                <span style="font-size: 20px; font-weight: bold">خدمات</span> <i style="font-size: 20px; font-weight: bold; margin-right: 10px" class="fa fa-angle-left"></i>
            </div>
            <div class="col-md-12">
                <div class="row" style="margin-top: 11px; direction: ltr">
                    <div id="OWL_SERVICES" class="owl-carousel">
                        {% for s in services %}
                            {% module ServiceBox(s) %}
                        {% end %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% module Footer() %}
<script>
var year = parseInt('{{ __now.year }}');
var month = parseInt('{{ __now.month }}');
var day = parseInt('{{ __now.day }}');
var hour = parseInt('{{ __now.hour }}');
var minute = parseInt('{{ __now.minute }}');
var second = parseInt('{{ __now.second }}');
var millisecond = parseInt('{{ __now.microsecond }}');
</script>
<script>
    var search_url = "{{ reverse_url('search_companies_by_params', '__name__', 'all', 'all', 'all') }}";
</script>
<script src="{{ static_url('js/jquery.min.js') }}"></script>
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('plugins/jquery-ui/jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ static_url('plugins/owl-carousel/owl-carousel/owl.carousel.js') }}"></script>
{#<script src="{{ static_url('js/clock.js') }}"></script>#}
<script src="{{ static_url('js/navbar.js') }}"></script>
<script src="{{ static_url('js/slide_show.js') }}"></script>
<script src="{{ static_url('plugins/mini-colors/jquery.minicolors.js') }}"></script>
<script>


    function create_color(){
            $('.custom-color').minicolors({
                control: $(this).attr('data-control') || 'hue',
                defaultValue: $(this).attr('data-defaultValue') || '',
                format: $(this).attr('data-format') || 'hex',
                keywords: $(this).attr('data-keywords') || '',
                inline: $(this).attr('data-inline') === 'true',
                letterCase: $(this).attr('data-letterCase') || 'lowercase',
                opacity: $(this).attr('data-opacity'),
                position: $(this).attr('data-position') || 'bottom left',
                change: function(value, opacity) {
                    if( !value ) return;
                    if( opacity ) value += ', ' + opacity;
                    if( typeof console === 'object' ) {
                        console.log(value);
                    }
                },
                theme: 'bootstrap'
            });
        }
    create_color();
    $(document).ready(function () {
        $("#OWL_SERVICES").owlCarousel({
            autoPlay: true,
            stopOnHover: true
        });
        $(".owl-carousel-row").owlCarousel({
            autoPlay: true,
            items: 4,
            stopOnHover: true
        });
        $("#OWL_RANDOM").owlCarousel({
            autoPlay: true,
            items: 4,
            stopOnHover: true
        });
    });

    $(document).on('change', "#CHANGE_INFO_SECTION", function(){
        $("#INFO_SECTION").css('background-color', "#" + $(this).val());
    });

    $(document).on('change', "#CHANGE_NAV_SECTION", function(){
        alert($(this).val());
        $("#NAV_SECTION").css('background', "#" + $(this).val() + " none");
    });

    $(document).on('change', "#CHANGE_BODY_SECTION", function(){
        $("#BODY_SECTION").css('background-color', "#" + $(this).val());
    });

</script>
</body>

</html>
