<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Companies</title>

    <!-- Bootstrap Core CSS -->
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/bootstrap-rtl.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/bootstrap-theme.css') }}') }}">
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/fonts.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static_url('plugins/fontawesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('plugins/owl-carousel/owl-carousel/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ static_url('plugins/owl-carousel/owl-carousel/owl.theme.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/footer.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/index.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/navbar.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/slide_show.css') }}">
    <style>
        .select{
            width: 100%;
        }
        .margin-top-10{
            margin-top: 10px;
        }

        .loader-auto-load{
            border: 1px solid rgb(204, 204, 204);
            border-radius: 0;
            padding: 12px;
            position: absolute;
            bottom: 0;
            width: 100%;
            background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
        }
    </style>
</head>

<body style="background-color: #F4F4F4; font-family: Yekan; direction: rtl">
    {% module Info() %}
    {% module NavBar(active="services") %}
    <div class="col-md-12" style="margin-top: 65px; padding: 0px 30px 30px 30px; min-height: 410px">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row companies-boxes">
                    {% for _s in services %}
                        <div class="col-md-4 margin-top-10">
                            {% module ServiceBox(_s) %}
                        </div>
                    {% end %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row loader-auto-load" style="display: none">
            <div class="col-md-2 col-md-offset-5 text-center">
                <img style="width: 20%; height: 30%;" src="{{ static_url('images/loading.gif') }}">
            </div>
        </div>
    </div>
    {% module Footer() %}
<script>
    var search_url = "{{ reverse_url('search_companies_by_params', '__name__', 'all', 'all', 'all') }}";
</script>
<script src="{{ static_url('js/jquery.min.js') }}"></script>
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('plugins/jquery-ui/jquery-ui.js') }}"></script>
<script src="{{ static_url('js/navbar.js') }}"></script>

<script>

    var b = true;
    var c = true;
    {% if count < 15 %}
        c = false;
    {% end %}
    var page = 2;
    var url = '';

    $(window).scroll(function(){
        var a = $('footer').innerHeight();
        if($(window).scrollTop() + $(window).height() >= $(document).height() - a && b && c){
            $('.loader-auto-load').slideDown();
            b = false;
            $.ajax({
                data: {page : page, '_xsrf': '{{ handler.xsrf_token }}'},
                type: 'post',
                url: '',
                async: true,
                success: function(output){
                    if (output['status'] == 'success'){
                        if(parseInt(output['count']) == 0){
                            $('.loader-auto-load').slideUp();
                            c = false;
                            return
                        }
                        $('.companies-boxes').append(output['data']);
                        page = parseInt(output['page']);
                        b = true;
                        $('.loader-auto-load').slideUp();
                    }
                }
            });
        }
    });

    $(document).on('mouseenter', '.service_box_link', function(e){
        $(e.target).closest('.service_box_link').find('.special_offer_text').slideDown();
    });

    $(document).on('mouseleave', '.service_box_link', function(e){
        $(e.target).closest('.service_box_link').find('.special_offer_text').slideUp();
    });
</script>
</body>

</html>
